
<div class="container" style="display:flex; justify-content: space-between; width: 100%; ">
  <div class="row" style="width: 100%;">
    <div class="col col-md-6 d-flex align-items-center justify-content-center" >
      <a routerLink="" routerLinkActive="active"> Home Page </a>
    </div>
    <div class="col col-md-3 d-flex align-items-center justify-content-center">
      <a routerLink="/Page1" routerLinkActive="active"> First Component </a>
    </div>
    <div class="col col-md-3 d-flex align-items-center justify-content-center">
      <a routerLink="/Page2" routerLinkActive="active"> Second Component </a>
    </div>
  </div>
</div>